h2 a {
    text-decoration: none;
    color: #a61d3c;
    position: relative;
}

h2 a::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #a61d3c;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.5s ease-in-out;
}

h2 a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}